html{
    box-sizing: border-box;
}

*, ::after, ::before{
    box-sizing: inherit;
}

.tictactoe{
    background-color: #bcdbdf;
    height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 669px) {
    .tictactoe{
        height: 100lvh;
        align-items: flex-start;
        padding-block: 10px;
    }
}

.tictactoeGame{
    font-family: 'Roboto', sans-serif;
    width: calc(100% - 20px);
    max-width: 1000px;
    margin-inline: auto;
    border: 1px solid #000;
    border-radius: 15px;
    background: #40a8c4;
}

.tictactoeGame__header{
    text-align: center;
}

.tictactoeGame__headerTitle{
    font-family: 'Oswald', sans-serif;
    font-size: min(max(5.83vw,25px),58px);
    color: #f7aa00;
}

.gameWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: calc(100% - 20px);
    margin-inline: auto;
    padding-block-end: 1em;
}

@media screen and (max-width: 669px) {
    .gameWrapper{
        grid-template-columns: 1fr;
    }
}

.gameBoardWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@media screen and (max-width: 669px) {
    .gameBoardWrapper{
        grid-row: 2/3;
    }
}

.gameBoard{
    width: 23vw;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 1rem;
}

.gameField{
    flex: 1 0 33%;
    border: 1px solid #000;
    background: #fff;
    font-weight: 700;
    height: auto;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    aspect-ratio: 1/1;
}

.gameField--circle{
    background-image: url(graphics/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.gameField--cross{
    background-image: url(graphics/cross.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
} 

.win1{
    border: 3px solid #f04545;
}

.win2{
    border: 3px solid #3a3aef;
}

.gameBoard__scoreTable{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 669px) {
    .gameBoard__scoreTable{
        grid-row: 1/2;
    }
}

.gameBoard__ScoreInfo{
    text-align: center;
    color: #f7aa00;
    font-size: clamp(25px, 3.41vw ,30px);
}

@media screen and (max-width: 669px){
    .gameBoard__players{
        margin: 0;
    }
}

.gameBoard__score{
    font-size: clamp(35px, 4.63vw, 42px);
    font-weight: 700;
}

@media screen and (max-width: 669px){
    .gameBoard__score{
        margin: 0;
    }
}

.gameBoard__Info{
    color: #f7aa00;
    text-align: center;
    font-size: clamp(25px, 3.41vw ,30px);
}

.gameBoardButtons{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
}

.gameBoardButton{
    /* border: 1px solid #f04545; */
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    transition: all ease-in-out .24s;
    color: #235784;
    background: #f7aa00;
}

.gameBoardButton:hover{
    background: #eab544;
}

.gameBoardButton:active{
    transform: scale(0.9);
    background: #e7b74f;
}